@use '/src/styles/constants//colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.wrap {
  width: 100%;

  .contents {
    @include flexbox.flexbox(between, center);
    height: 87px;
    padding: 24px;
    margin: 0 auto;
    background: colors.$WHITE;
    border: 1px solid colors.$GRAY2;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 10%);

    .title {
      @include flexbox.flexbox;
      user-select: none;

      h1 {
        padding: 0 8px;
        font-size: 24px;
        font-weight: 700;
        color: colors.$GRAY2;
      }

      svg {
        width: 32px;
        height: 32px;
        fill: colors.$GRAY2;
      }
    }

    button {
      width: 100px;
      height: 38px;
      padding: 4px 8px;
      color: colors.$GRAYE;
      background: colors.$GRAY2;
      border-radius: 4px;
    }
  }
}
